@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,360;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.blinker{
    animation: blinker 1.5s linear infinite;
    color: whitesmoke;
    
}

html{
    scroll-behavior: smooth;
    
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

#teste{
    transition: 0.5s;
    transform: translateY(100%);
}

#teste:hover{
    transform: translateY(0);
}

#testeDiv{
    background-image: url("https://cda-teste.s3.amazonaws.com/gorilla_project_01.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
/* *,
html,
body{
    margin: 0;
}

.app{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#menu_section{
    background: yellow;
}

#content_section{
    background: red;
    width: 100vw;
}

@media screen and ( max-width: 767px){
    #menu_section{
        width: 80vw;
        position: absolute;
        height: 100vh;
    }
} */